.examples-upcoming {
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.examples-upcoming .content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 88px);
  height: calc(100% - 92px);
  align-items: flex-start;
  position: absolute;
  top: 92px;
  left: 72px;
  background-color: #ffffff;
  border-radius: 28px;
}

.examples-upcoming .app-bar {
  display: flex;
  flex-direction: column;
  width: 814px;
  align-items: flex-start;
  gap: 8px;
  padding: 0px 0px 12px;
  position: relative;
  flex: 0 0 auto;
}

.examples-upcoming .leading-trailing {
  display: flex;
  height: 56px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 8px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.examples-upcoming .content-wrapper {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.examples-upcoming .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100px;
  overflow: hidden;
}

.examples-upcoming .state-layer {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.examples-upcoming .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.examples-upcoming .trailing-elements {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.examples-upcoming .img {
  position: relative;
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.examples-upcoming .text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.examples-upcoming .headline {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--m3-headline-medium-emphasized-font-family);
  font-weight: var(--m3-headline-medium-emphasized-font-weight);
  color: #1d1b20;
  font-size: var(--m3-headline-medium-emphasized-font-size);
  letter-spacing: var(--m3-headline-medium-emphasized-letter-spacing);
  line-height: var(--m3-headline-medium-emphasized-line-height);
  font-style: var(--m3-headline-medium-emphasized-font-style);
}

.examples-upcoming .carousel-hero {
  flex-direction: column;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.examples-upcoming .carousel {
  height: 221px;
  gap: 8px;
  padding: 8px 24px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.examples-upcoming .item {
  flex: 1;
  flex-grow: 1;
  position: relative;
  align-self: stretch;
  border-radius: 28px;
  background: linear-gradient(
    0deg,
    rgba(236, 230, 240, 1) 0%,
    rgba(236, 230, 240, 1) 100%
  );
}

.examples-upcoming .div {
  width: 120px;
  position: relative;
  align-self: stretch;
  border-radius: 28px;
  background: linear-gradient(
    0deg,
    rgba(236, 230, 240, 1) 0%,
    rgba(236, 230, 240, 1) 100%
  );
}

.examples-upcoming .item-last {
  width: 56px;
  position: relative;
  align-self: stretch;
  border-radius: 28px;
  background: linear-gradient(
    0deg,
    rgba(236, 230, 240, 1) 0%,
    rgba(236, 230, 240, 1) 100%
  );
}

.examples-upcoming .action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -4px;
}

.examples-upcoming .button-text {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.examples-upcoming .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  overflow: hidden;
}

.examples-upcoming .state-layer-2 {
  display: inline-flex;
  gap: 8px;
  padding: 10px 16px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.examples-upcoming .label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--m3-label-large-font-family);
  font-weight: var(--m3-label-large-font-weight);
  color: #6750a4;
  font-size: var(--m3-label-large-font-size);
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.examples-upcoming .navigation-rail {
  display: flex;
  flex-direction: column;
  width: 72px;
  height: 709px;
  align-items: center;
  gap: 40px;
  padding: 44px 0px 56px;
  position: absolute;
  top: 68px;
  left: 0;
}

.examples-upcoming .menu-fab {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.examples-upcoming .icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.examples-upcoming .content-2 {
  display: flex;
  flex-direction: column;
  width: 56px;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.examples-upcoming .icon-wrapper {
  display: flex;
  height: 56px;
  align-self: stretch;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.examples-upcoming .chrome-browser-bar {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fef7ff;
  box-shadow: 0px 0.59px 0px #00000026, inset 0px -0.59px 0px #0000000d;
}

.examples-upcoming .icons {
  position: relative;
  flex: 0 0 auto;
}

.examples-upcoming .address-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #f3edf7;
  border-radius: 46.08px;
  overflow: hidden;
}

.examples-upcoming .URL {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.examples-upcoming .lock {
  position: relative;
  width: 15.36px;
  height: 15.36px;
}

.examples-upcoming .icon-2 {
  position: absolute;
  width: 66.67%;
  height: 87.50%;
  top: 4.17%;
  left: 16.67%;
}

.examples-upcoming .text {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #1d1b20;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
}

.examples-upcoming .star {
  position: relative;
  width: 20px;
  height: 20px;
}

.examples-upcoming .icon-3 {
  position: absolute;
  width: 83.33%;
  height: 79.17%;
  top: 8.33%;
  left: 8.33%;
}

.examples-upcoming .avatar {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #79747e;
  border-radius: 109.09px;
  overflow: hidden;
}

.examples-upcoming .text-wrapper {
  position: absolute;
  top: calc(50.00% - 11px);
  left: calc(50.00% - 7px);
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--m-3white);
  font-size: var(--m3-body-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.examples-upcoming .icon-4 {
  position: absolute;
  width: 16.67%;
  height: 66.67%;
  top: 16.67%;
  left: 41.67%;
}
